.btn-primary:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.20)!important;
}

.btn-secondary:hover {
    box-shadow: 0 .25rem .5rem rgba(0,0,0,.10)!important;
}

.blog-post-card:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.20)!important;
}